<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>

    <style>
        body {
            text-align: center;
        }

        h1 {
            margin-top: 100px; 
        }

        form {
            display: inline-block;
            text-align: left;
            margin-top: 40px; 
        }

        label, select, input, button {
            margin-bottom: 20px; 
        }
    </style>
</head>
<body>
    <h1>Welcome to the Book Buddy</h1>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form action="{{ url_for('show_recommendations') }}" method="post">
        <label for="genre">Choose a genre:</label>
        <select id="genre" name="genre">
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>

        <label for="quantity">Enter quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1" required>

        <button type="submit">Get Recommendations</button>
    </form>
</body>
</html>



