<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendations</title>
</head>
<body>
    <h1>Recommended Books</h1>
   <ul>
        {% for book in books %}
            <li>
                <strong>{{ book[0] }}</strong> by {{ book[1] }}
                <br>
                <img src="{{ book[3] }}" alt="{{ book[0] }} Cover" height="150">
            </li>
        {% endfor %}
    </ul>

    <button onclick="window.location.href='{{ url_for('home') }}'">Recommend Me Again</button>
</body>
</html>

